body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
    padding: 100px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    max-width: 500px;
  }
  
  .lock-icon {
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 30px;
    color: #2fda40;
    margin-bottom: 15px;
  }
  
  p {
    font-size: 20px;
    color: #555;
  }

  /* Стилі для кнопки Redirect */
  .redirect-button {
    margin-top: 20px;
    padding: 15px 30px; /* Збільшення відступів для кнопки */
    background-color: #007bff; /* Синій фон */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 40px; /* Збільшення розміру шрифта */
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
  }
  
  .redirect-button:hover {
    background-color: #0056b3; /* Трохи темніший синій при наведенні */
  }